header {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.info {
    padding: 10px;
}

.info span {
    display: block;
    text-align: center;
    font-size: 13px;
}

.tile {
    display: flex;
    padding: 5px;
    border: 2px solid white;
    border-style: outset;
    background-color: lightgrey;
    width: 12px;
    height: 12px;
    line-height: 1em;
    font-size: 0;
}

.row {
    display: flex;
}

main {
    display: flex;
    justify-content: center;
}

.explored {
    border-style: inset;
}

.explored, .flagged {
    font-size: 13px;
}

.explored .bombed {
    font-size: 13px;
}

h1 {
    font-size: 20px;
    text-align: center;
}


.modal-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background: rgba(0, 0, 0, 0.7);
}

.modal-content {
    z-index: 100;
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 50%;
    left: 50%;
    margin-left: -120px;
    background: white;
    width: 200px;
    padding: 20px;
    border-radius: 5px;
}
